Source: stterm
Section: x11
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Build-Depends: debhelper (>= 7.1)
Standards-Version: 3.8.4
Vcs-Browser: http://git.debian.org/?p=collab-maint/stterm.git
Vcs-Git: git://git.debian.org/git/collab-maint/stterm.git
Homepage: http://st.suckless.org

Package: stterm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: an extremely simple terminal for windowed system
 Stterm is a bare bones terminal emulator developed with a focus on
 simplicity and clarity as the primary goals. It is very lightweight
 consuming only approximately (1.3+25 reserved+virtual) KiB memory.
 The suckless software projects philosophy is about keeping things
 simple, minimal and usable.
