#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = stterm
ORIGBIN = st
BIN	= $(PACKAGE)
MANSECT	= 1

include debian/debian-vars.mk

man:
	# target: man -- convert *.pod to manual page
	$(MAKE) -C debian -f pod2man.mk PACKAGE=$(PACKAGE) \
	MANSECT=$(MANSECT) makeman

install: build man
	# target: install
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_installman

	$(MAKE) PREFIX=/usr DESTDIR=$(PKGDIR) install
	mv $(BINDIR)/$(ORIGBIN) $(BINDIR)/$(BIN)

binary-arch: install
	# target: binary-arch -- Build architecture-dependent files
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:
	dh "$@"

binary: binary-arch

.PHONY: build install man
.PHONY: binary-indep binary-arch binary

# End of file
